/* Colors */
:root {
    --primary-color: #0A5C36;
    --secondary-color: #FFFFFF;
    --button-color: #8CD841;
    --button-hover-color: #18392B;
    --clock-background-color: #7FFF00;
    --ring-color: #F0F0F0;
    --ring3-color: #606060;
    --ring2-color: #000000;
    --clock-color: #707070;
}

/* Global */
* {
    font-family: 'Oswald', sans-serif;
    padding: 0;
    margin: 0;
}

/* Main */
html {
    background-color: var(--primary-color);
    overflow: hidden;
}

.main {
    position: relative;
    display: flex;
    align-items: center;
    max-height: 800px;
    max-width: 500px;
    margin: 2rem auto;
    flex-direction: column;
    border: solid 10px var(--secondary-color);
    border-radius: 12px;
    box-sizing: border-box;
    background-color: var(--secondary-color);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* Card */
.card {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    box-sizing: border-box;
    background-image: url("../assets/imgs/card-background.jpg");
    background-size: cover;
    background-position: center;
}

#logo {
    width: 250px;
    margin-left: -1.5rem;
}

/* Clock */
.clock-background {
    position: relative;
    display: flex;
    background-color: var(--clock-background-color);
    height: 200px;
    width: 200px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 8rem;
}

.ring {
    border-radius: 50%;
    z-index: 2;
}

#ring {
    height: 150px; 
    width: 150px; 
    border: 12px solid #f0f0f0;
}

#ring3 {
    height: 207px; 
    width: 207px; 
    border: 12px solid #606060;
}

#ring2 {
    height: 171px; 
    width: 171px; 
    border: 18px solid #000;
}

.clock {
    position: absolute;
    background: var(--clock-color);
    width: 70px; 
    height: 70px; 
    border-radius: 0 0 0 10px;
    border: 15px solid #000;
    border-top: none;
    border-right: none;
    transition: 0.5s;
}

.clock-background.move {
    top: -150px;
    left: 30%;
    height: 100px;
    width: 100px;
    transition: 1.5s;
    z-index: 3;
}

#clock-right {
    right: 0;
    transform: rotate(45deg);
}

#clock-left {
    transform: rotate(-135deg);
    left: 0;
}

/* Animations */
#clock-right.active,
#clock-left.active {
    height: 90px; 
    width: 90px;
    background-color: #0000;
}

#clock-right.active {
    right: 50px;
}

#clock-left.active {
    left: 50px;
}

#alien {
    position: absolute;
    opacity: 0;
}

#alien.active {
    opacity: 1;
    transition: opacity 2s;
}

/* Button */
button {
    text-transform: uppercase;
    cursor: pointer;
    padding: 1rem 2.5rem;
    border: none;
    margin-bottom: 2rem;
    border-radius: 10px;
    font-size: 20px;
    background-color: var(--button-color);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

button:hover {
    background-color: var(--button-hover-color);
    color: #ffffff;
    border: var(--secondary-color) solid 2px;
    transition: 0.5s;
}

.hide {
    opacity: 0;
    transition: 2s;
    visibility: hidden;
}

/* Background alien card header */
.header-background {
    position: absolute;
    background-size: cover;
    background-position: center;
    height: 0%;
    width: 100%;
}

.header-background.active {
    height: 30%;
    width: 100%;
    top: 0;
    opacity: 1;
    transition: 2s;
}

/* Informations */
.info {
    position: absolute;
    display: flex;
    opacity: 0;
    height: 0%;
    width: 100%;
}

.info.active {
    background-color: var(--secondary-color);
    height: 70%; /* Ajuste conforme necessário */
    width: 100%;
    bottom: 0;
    opacity: 0.8;
    transition: 2s;
}

.info-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 1rem;
    text-align: justify;
}

.info-content h2 {
    text-transform: uppercase;
}

.info-buttons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 1rem;
}

.info-buttons button {
    background-color: var(--clock-background-color);
    padding: 0.5rem 1rem;
    font-size: 1rem;
}

.info-buttons button span {
    padding-left: 0.4rem;
}

.info-buttons button:hover {
    background-color: var(--button-hover-color);
}

@media (max-width: 450px) {
    .main {
        max-width: 100%;
        height: 100vh; 
        margin: 1rem;
        overflow: hidden;
    }

    .card {
        padding: 1rem;
    }

    #logo {
        width: 200px;
        margin-left: -1rem;
    }

    button {
        padding: 0.8rem 2rem;
        font-size: 1rem;
    }

    .clock-background.move {
        top: -10%;
        left: 30%;
        animation: moveClockBackground 2s ease;
    }

    #info-content {
        font-size: 1.2rem;
    }

    .info-buttons button span {
        display: none;
    }
}

@media (max-width: 375px) {
    .main {
        height: 95vh; 
        overflow: hidden;
    }

    .clock-background {
        margin: 3rem auto;
    }

    #info-content {
        font-size: 1rem;
    }

    .clock-background.move {
        top: -20%;
        left: 30%;
        animation: moveClockBackground 2s ease;
    }
}

@keyframes moveClockBackground {
    from {
        top: 0;
        left: 0;
    }
    to {
        top: top;
        left: left;
    }
}
